<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.modules.system.mapper.SysMenuSchemaMapper">

    <select id="queryByPath" resultType="com.quick.modules.system.entity.SysMenuSchema">
        SELECT
            a.*
        FROM
            sys_menu_schema a
                JOIN sys_menu b ON a.menu_id = b.id
        WHERE
            b.path = #{path}
          AND b.`status` = 0
          AND b.del_flag = 0
          AND a.`status` = 0
          AND a.del_flag = 0
    </select>

</mapper>