<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.online.mapper.AccessMapper">

    <select id="listByTableName" resultType="java.util.Map">
        SELECT
        TABLE_NAME AS tableName,
        TABLE_COMMENT AS tableComment
        FROM
        information_schema.TABLES
        WHERE
        TABLE_SCHEMA = ('quick-boot')
        <if test="tableNames != null and tableNames.size()>0">
            AND TABLE_NAME IN
            <foreach collection='tableNames' item='tableName' index='index' open='(' close=')' separator=','>
                #{tableName}
            </foreach>
        </if>
        <if test='tableName != null and tableName!=""'>
            AND TABLE_NAME LIKE CONCAT('%', #{tableName}, '%')
        </if>
        ORDER BY TABLE_NAME
    </select>

</mapper>