<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.online.mapper.SysTableColumnMapper">

    <select id="selectByTableName" resultType="com.quick.modules.online.entity.SysTableColumn">
        SELECT
            COLUMN_NAME as dbFieldName,
            COLUMN_COMMENT as dbFieldTxt,
            IF(COLUMN_KEY='PRI','Y','N') as dbIsKey,
            'Y' as isShowForm,
            'Y' as isShowList,
            'N' as isRequired,
            'N' as isReadOnly,
            'N' as isQuery,
            'LIKE' as queryType,
            'TEXT' as showType
        FROM
            information_schema.COLUMNS
        WHERE
            TABLE_SCHEMA = ('quick-boot')
          AND TABLE_NAME = #{tableName}
    </select>
</mapper>